<div style="margin: -15px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Danh sách bảng kê chỉ số</h4>
    </div>
    <div class="modal-body">
        @Html.Partial("~/Views/ReportBangKeChiSo.aspx")
    </div>
    <div class="modal-footer">
    </div>
</div>