@{
    ViewBag.Title = "AddPage";
}
@section PageScripts{
    <script type="text/javascript">
        var runSelect2 = function () {
            $(".search-select").select2({
                placeholder: "Chọn quyền",
                allowClear: true
            });
        };
        runSelect2();
    </script>
}
<div class="col-md-12">
    <div class="page-header">
        <h3>Quản trị trang</h3>
    </div>
    @Html.Partial("_MessagePartial")
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-external-link-square"></i><b>Thêm mới trang</b>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("AddPage", "Security", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.Partial("_PagePartial")
            }
        </div>
    </div>
</div>
