@{
    ViewBag.Title = "NotPermission";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="row">
    <div class="col-sm-12 page-error">
        <div class="error-number bricky" style="font-size: 100px !important;">PERMISSION REQUIRED</div>
        <div class="error-details col-sm-6 col-sm-offset-3">
            <h3 style="font-family: Tahoma;">Oops! Bạn không có quyền thao tác chức năng này</h3>
          @*  <p>
                Something's wrong!
									<br>
                It looks as though we've broken something on our system.
									<br>
                Don't panic, we are fixing it! Please come back in a while.
            </p>*@
        </div>
    </div>
</div>
