<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AD.System.Web.Helpers.dll" version="2.0.0" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="FastMember" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights" version="2.4.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.4.1" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.4.1" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.4.1" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.4.1" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.4.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.7" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="2.3.1" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net45" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net45" />
  <package id="WebMatrix.Data" version="2.0.30506.0" targetFramework="net45" />
  <package id="WebMatrix.WebData" version="2.0.30506.0" targetFramework="net45" />
</packages>