@using ES_WEBKYSO.HtmlHelpers
@model dynamic
@{
    var htmlAttributes = ViewData["htmlAttributes"] ?? new { @class = "form-control", type = "number" };
    var labelAttributes = ViewData["labelAttributes"] ?? new { @class = "control-label" };
}

<div class="col-sm-6">
    @LabelExtensionsNb.LabelFor(Html, model => model, labelAttributes)
    @Html.TextBoxFor(model => model, htmlAttributes)
    @Html.ValidationMessageFor(model => model)
</div>

