@using ES_WEBKYSO.HtmlHelpers
@model dynamic
@{
    var htmlAttributes = ViewData["htmlAttributes"] ?? new { @class = "form-control" };
    var labelAttributes = ViewData["labelAttributes"] ?? new { @class = "col-sm-2 control-label" };
}
<div class="form-group">
    @LabelExtensionsNb.LabelFor(Html, model => model, labelAttributes)
    <div class="col-sm-9">
        @Html.TextAreaFor(model => model, htmlAttributes)
        @Html.ValidationMessageFor(model => model)
    </div>
</div>

